<div><div class="header">
    <p>Dummy place</p>
   <div class="header2">
    <p>Need help</p>
   </div>
   <p>Get A Crushing & Screening General Permit</p>
   <br>
   <p>What are your equipment details? </p>
   <p>Please list your equipment below,indicate if you agree to the total hours of operations and then click CONTINUE</p>
  <div>
 <table>
    <th>Equipment Type</th>
    <th>Maximium Rated Capacity</th>
    <th>Unit</th>
    <th>Make</th>
    <th>Model</th>
    <th>Serial/ID#</th>
    <th>Date of Mfq </th>
    <th>Delete</th>
</table>
<input type="button" name="AddMore" placeholder="AddMore">
</div>
<input type="checkbox" >I agree to the hours of operation
<input type="checkbox">I disagree .I will call ADEQ at (602) 771-2338 to obtain an indidual permit for incerased production.Return me to mySTUFF

</div>

</div>