<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div>
    <p class="main">Crushing and Screening License</p>
    <p class="info1">You will need the following information to complete this process</p>
</div>

<div class="heading">
    <h2>Section Name</h2>
</div>

<div class="list">
    <ol>
        <li class="section-div" *ngFor="let section of sections; let i = index">
            <p class="text">{{section.name}}</p>
        </li>
    </ol>

    <div>
        <p class="Red"><mat-icon>report_problem</mat-icon> Warning Your Session will be timeout in 20 minutes</p>
    </div>

    <!-- Back and Continue Buttons -->
    <div class="button-container">
        <button class="back-button" (click)="goBack()">Back</button>
        <button class="continue-button" (click)="continue()">Continue</button>
    </div>
</div>
