<div class="nav rounded-top">
    <p></p>
    <h2>myDEQ</h2> 
  </div>
  <div class="primary">
    <form>
        <div class="form-group">
    <!-- <input type="button" class="help-btn" placeholder="NEED HELP?" > -->
    <div class="header">
        <h1>Get a Crushing & Screening General Permit</h1>
        <hr>
      </div>
    <div class="secondary"></div>
    <p >For Which Company are you wanting this permit or registeration for?</p>
    <ol class="ol-list">
        <li (click)="onLiClick('AMAZON INC')">AMAZON INC</li>
        <li (click)="onLiClick('ARIZONA PUBLIC SERVICE')">ARIZONA PUBLIC SERVICE </li>
        <li (click)="onLiClick('BRIMHALL SAND,ROCK AND BUILDING MATERIALS')">BRIMHALL SAND,ROCK AND BUILDING MATERIALS</li>
        <li (click)="onLiClick('MAVERIK INC')">MAVERIK INC</li>
        <li (click)="onLiClick('MAVERIK INC')">MAVERIK INC</li>
        <li (click)="onLiClick('SUPERSTITION INC')">SUPERSTITION INC</li>
        <li (click)="onLiClick('SUPERSTITION INC')">SUPERSTITION INC</li>
        <li (click)="onLiClick('SUPERSTITION INC')">SUPERSTITION INC</li>
    </ol>
</div>
</form>
</div>